langchain>=0.3
langchain-community>=0.3
langchain-openai>=0.2
langchain-qdrant>=0.2
langchain-experimental>=0.3
qdrant-client>=1.9
pypdf>=4.0
pydantic-settings>=2.0
python-dotenv>=1.0
sentence-transformers>=3.0
langchain-huggingface>=0.1
langchain-google-genai
langchain-groq